.arrow {
  position: absolute;
  font-size: 30px;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}
@media (prefers-reduced-motion: no-preference) {
  .arrow {
    animation: Arrow-move infinite 3s;
    /* width: 500px;
    height: 500px; */
  }
}
@keyframes Arrow-move {
  from {
    bottom: 10%;
    /* transform: translateY(0); */
    color: white;
  }
  to {
    bottom: 5%;
    color: transparent;
  }
}
