@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Sofia Sans", sans-serif;
}
.body p {
  margin: 0px;
  padding: 0px;
  /* font-family: "Open Sans", sans-serif; */
}
.body {
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: black; */
  min-width: 100%;
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  overflow: hidden;
  /* background-color: beige; */
}
/* Button */
button {
  border: none;
  background-color: transparent;
}
