.navLeft {
  font-weight: bold;
  font-size: 18px;
}
.navRight {
  display: flex;
  gap: 30px;
}
.navRight button {
  font-weight: bold;
  font-size: 18px;
}
.navRight button:hover {
  border-bottom: 2px solid blue;
}
.navRight button:focus {
  border-bottom: 2px solid blue;
}
