.container {
  top: 0px;
  position: sticky;
  width: 100%;
  z-index: 1;
  /* margin-top: -2rem; */
  /* margin: 0px 10% 0px 10%; */
  padding: 0px 15% 0px 15%;
  background-color: black;
  height: 4rem;
  animation: slide-down 0.7s;
}
.navLeft {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
}
.navRight {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.active button {
  position: relative;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.active button:hover {
  border-bottom: 2px solid blue;
}
.activebutton:focus {
  border-bottom: 2px solid blue;
}
